.header{
    border: 1px solid black;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
}
.header:after{ clear: both; display: block; content: '' }
.header a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.header .home{
    float: left;
    margin-left: 3%;
}

.header .loginButton{
    float: right;
    margin-right: 5%;
    margin-top:30px;
    display:flex;
}