
  .login-box {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 300px;
    padding: 40px;
    transform: translate(-50%, -50%);
  }
  
  
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #c5cbd0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #c5cbd0;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #c5cbd0;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #3a78ff;
    font-size: 12px;
  }
  